[user]
    email = ehs@pobox.com
    name = Ed Summers
    signingkey = D012FF557AFFF80A
[core]
    excludesfile = /Users/edsummers/.gitignore
    pager = delta
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[commit]
    gpgsign = true
[pull]
    rebase = true
[delta]
    navigate = true    # use n and N to move between diff sections
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
